@model IEnumerable<WebApplication3.Models.School>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary"  asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SchoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolAdress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolAdress)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.SchoolID"> <img src="~/images/m.jpg" style="height:45px; width:45px" /></a> |
                    <a asp-action="Details" asp-route-id="@item.SchoolID"><img src="~/images/v.jpg" style="height:45px; width:45px" /></a> |
                    <a asp-action="Delete" asp-route-id="@item.SchoolID"><img src="~/images/R.png" style="height:45px; width:45px" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
